<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render "layouts/shared/head" %>

  <body
    class="<%= content_for(:body_class) %>"
    data-layout="<%= content_for?(:layout_name) ? yield(:layout_name) : "application" %>">
    <%= render "layouts/shared/flash" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= yield :body %>
    <div id="toast_container" class="toast toast-top toast-end z-100 mt-16 flex flex-col gap-2"></div>
  </body>
</html>
